body {
    box-sizing: border-box;
    margin: 0;
}

.custom-map-control-button {
    appearance: button;
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    height: 35px;
    overflow: hidden;
    outline: 0;
}

.custom-map-control-button:hover {
    background: #ebebeb;
}

.topnav {
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    height: 40px;
    background-color: grey;
    ;
}

.topnav .active {
    margin-right: 30px;
    margin-bottom: 10px;
    align-self: flex-end;
    text-decoration: none;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 615px;
    background-color: rgb(240, 240, 240);
}

.places-container {
    background-color: rgb(240, 240, 240);
    width: 50%;
    height: 90%;
    margin: 20px;
}

#map {
    width: 50%;
    height: 90%;
    border-radius: 15px;
    border: 1px solid black;
    margin: 10px;
}

.table {
    border: 1px solid black;
}

.places-table td {
    cursor: pointer;
}

.places-table .delete {
    display: flex;
    justify-content: flex-end;
}